@model HW7.Models.userprofile

<div class="row">
    <div class="col-md-4"><img src="@Model.Profileurl" height="150" width="150" /> </div>
    @Model.Name

    @Model.Login

    @Model.Email

    @Model.Bio

    @Model.Location

    @Model.Company
</div>
<div id="repos">
    
</div>
@section scripts{
    @Scripts.Render("~/Scripts/main.js")
}