@model HW7.Models.userprofile

<div class="jumbotron", id="userinfo">
    <div class="row">
        <center> <h4><strong>Welcome to Penny's Repo</strong></h4></center>
        <center>
            <div class="col-md-6"><img src="@Model.Profileurl" height="150" width="150" /> </div></center>
        <div class="col-md-6">
            
            
            <center>
                <dl class="dl-horizontal">
                    <dt>
                        Name:
                    </dt>

                    <dd>
                        <a href="https://github.com/Penny993131 ">@Model.Name</a>
                    </dd>
                    <dt>
                        Owner:
                    </dt>

                    <dd>
                        @Model.Login
                    </dd>

                    <dt>
                        Email:
                    </dt>
                    <dd>
                        xyang16@wou.edu
                    </dd>
                    <dt>
                        Bio:
                    </dt>
                    <dd>
                        @Model.Bio
                    </dd>
                    <dt>
                        Company:
                    </dt>
                    <dd>
                        @Model.Company
                    </dd>
                    <dt>
                        Location:
                    </dt>
                    <dd>
                        @Model.Location
                    </dd>


                </dl>

            </center>
        </div>
    </div>
</div>




<div class="jumbotron" id="repoinfo">
    <div id="repos">
       
    </div>
    
</div>


<div class="jumbotron" id="commitsinfo">
    <div id="commitLists">
        <p>For some reasons, the table to show the commit info will not be generated. Here is the order of the commit information.</p>
        <p>SHA</p>
        <p>Timestamp</p>
        <p>Committer</p>
        <p>Message</p>

        <table id="tableid">
            <tr id="rows">
            </tr>
        </table>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/main.js")
}
