@model HW7.Models.userprofile

<div class="jumbotron">
    <div class="row">
     
        <div class="col-lg-4"><img src="@Model.Profileurl" height="150" width="150" /> </div>
        <div class="col-lg-6">
            <p>@Model.Name</p>
            <p>@Model.Login</p>
            <p>@Model.Email</p>
            <p>@Model.Bio</p>
            <p>@Model.Location</p>
            <p>
                @Model.Company
            </p>

        </div>
    </div>
</div>
<div class="jumbotron">
    <div id="repos"></div>
</div>
<div class="jumbotron">
    <div id="commitLists">
        <table id="tableid">
            <tr id="rows">
                
            </tr>
        </table>







    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/main.js")
}
