@model IEnumerable<HW8.Models.Athlete>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                <button id="information" onclick="getResults(@item.ID)">See Races</button>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                <button id="graph" onclick="displayRaceChange(@item.ID)">Future Graph Button</button>
            </td>
        </tr>
    }
</table>

<div id="resultlist">

</div>

   <div id="myDynamicTable"></div>
    <table id="racelist">

    </table>
@section scripts{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    }
